{% extends 'base/header.html' %}
{% block content %}
{% load static %}

<div class="my-account">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                <div style="margin-left:70px;" id="address-tab" role="tabpanel" >
                <h1>
                        <img id="user-profile" src="{% static 'img/default_user.png' %}" alt="default user" width="50px"> {{ user.username }}
                </h1><br><hr><br><br>
                <div class="row">
                    <div class="col-md-6">
                        <form id="update_profile_form" style="margin:auto;" method="post" enctype="multipart/form-data" action="{% url 'profile' %}">
                        {% csrf_token %}
                            {{ profile_form.as_p }}
                        <br><button class="btn btn-primary" type="submit">Update</button>
                        </form>
                    </div>
                </div>
                    {% if address_form %}
                    <br><hr><br>
                    <h2>Address {% if addresses.count < 3 %}<a href="{% url 'add-address' user.id %}" class="btn">+</a>{% endif %} </h2>
                    <div class="row">
                    <div class="col-md-12">
                        <br><h5>
                            {% if address.is_primary %}
                                Default Address
                            {% else %}
                                Other Address
                            {% endif %}
                        </h5>
                        <form id="update_address_form" style="margin: 0;"  method="post" enctype="multipart/form-data" action="{% url 'address'  %}">
                           <div class="row">
                               {% csrf_token %}
                               {{ address_form.as_p }}
                           </div>
                        <button class="btn btn-primary" type="submit">Update</button><br><br>
                        </form>
                        <hr>
                        </div>
                    </div>
                    {% else %}
                    <br><br><a href="{% url 'add-address' user.id %}" class="btn">Add New Address</a><br>
                    {% endif %}
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
<script type="text/javascript" src="{% static 'js/address.js' %}"></script>
{% for address in addresses %}
    <script>
        $(document).ready(function ($) {
            initializeAddressValidation({{ address.id }});
        });
    </script>
{% endfor %}

{% endblock %}
