{% extends 'base/header.html' %}

{% block content %}
{% load static %}
<div class="my-account">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-9">
            <div class="tab-content">
                <div id="address-tab" role="tabpanel" >
                <h1>
                    <img src="{% static 'img/default_user.png' %}" alt="default user" width="50px"> {{ user.username }}
                </h1><br><hr><br><br>
                <div class="row">
                    <div class="col-md-9"> <a href="{% url 'account_change_password' %}" class="btn">Update Password</a><br><br>
                        <h5>{{ user.first_name }}</h5>
                        <h5>{{ user.last_name }}</h5>
                        <p>Phone: {{ user.phone_no }}</p><br>
                        <a href="{% url 'updateprofile' user.id %}" class="btn">Edit Profile</a><br><br>
                    </div>
                </div>
                <h2>Address</h2><br>
                    {% for address in addresses %}
                    <div class="row">
                    <div class="col-md-6">
                            <h3>
                                {% if address.is_primary %}
                                    Default Address
                                {% else %}
                                    Other Address
                                {% endif %}
                            </h3>
                            <p><b>Receiver</b>: {{ address.receiver_name }}</p>
                            <p><b>Mobile</b>: {{ address.phone_no }}</p>
                            <p>{{ address.house_no }}, {{ address.street }}</p>
                            <p>{{ address.city }}, {{ address.state }} {{ address.zipcode }}</p>
                            <br><a href="{% url 'updateaddress' address.id %}" class="btn">Edit Address</a>
                        <hr>
                    </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}