{% extends 'base/header.html' %}
{% block content %}
{% load static %}

<div class="my-account">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                <div style="margin-left:70px;" id="address-tab" role="tabpanel" >
                <h1>
                        <img id="user-profile" src="{% static 'img/default_user.png' %}" alt="default user" width="50px"> {{ user.username }}
                </h1><br><hr><br><br>
                <div class="row">
                    <div class="col-md-6">
                        <form id="update_profile_form" style="margin:auto;" method="post" enctype="multipart/form-data" action="{% url 'update-profile' user.username %}">
                        {% csrf_token %}
                            {{ user_form.as_p }}
                        <br><button class="btn btn-primary" type="submit">Update</button>
                        </form>
                    </div>
                </div>
                    {% if addresses %}
                    <br><hr><br>
                    <h2>Address {% if addresses.count < 3 %}<a href="{% url 'add-address' user.id %}" class="btn">+</a>{% endif %} </h2>
                    {% for address in addresses %}
                    <div class="row">
                    <div class="col-md-12">
                        <br><h5>
                            {% if address.is_primary %}
                                Default Address
                            {% else %}
                                Other Address
                            {% endif %}
                        </h5>
                        <form id="update_address_form" style="margin: 0;"  method="post" enctype="multipart/form-data" action="{% url 'update-address' user.username address.id %}">
                        {% csrf_token %}
                           <div class="row">
                               <div class="col-md-6">
                                   <p>Receiver: </p><input class="form-control" type="text" value="{{ address.receiver_name }}" name="receiver_name" onkeypress="change(this)" >
                               </div>
                               <div class="col-md-6">
                                   <p>Mobile: </p><input class="form-control" type="text" value="{{ address.phone_no }}" name="phone_no" onkeypress="change(this)" >
                               </div>
                               <div class="col-md-6">
                                   <p>House no: </p><input class="form-control" type="text" value="{{ address.house_no }}" name="house_no">
                               </div>
                               <div class="col-md-6">
                                   <p>Street: </p><input class="form-control" type="text" value="{{ address.street }}" name="street">
                               </div>
                               <div class="col-md-6">
                                   <p>Landmark: </p><input class="form-control" type="text" value="{{ address.landmark }}" name="landmark">
                               </div>
                               <div class="col-md-6">
                                   <p>City: </p><input class="form-control" type="text" value="{{ address.city }}" name="city">
                               </div>
                               <div class="col-md-6">
                                   <p>State: </p><input class="form-control" type="text" value="{{ address.state }}" name="state">
                               </div>
                               <div class="col-md-6">
                                   <p>Zipcode: </p><input class="form-control" type="text" value="{{ address.zipcode }}" name="zipcode">
                               </div>

                           </div>
                        <button class="btn btn-primary" type="submit">Update</button><br><br>
                        </form>
                        <hr>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <br><br><a href="{% url 'add-address' user.id %}" class="btn">Add New Address</a><br>
                    {% endif %}
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
<script type="text/javascript" src="{% static 'js/address.js' %}"></script>
{% for address in addresses %}
    <script>
        $(document).ready(function ($) {
            initializeAddressValidation({{ address.id }});
        });
    </script>
{% endfor %}

{% endblock %}
