<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="utf-8">
        <title>E Store - eCommerce HTML Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="eCommerce HTML Template Free Download" name="keywords">
        <meta content="eCommerce HTML Template Free Download" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/slick/slick.css" rel="stylesheet">
        <link href="lib/slick/slick-theme.css" rel="stylesheet">

        <!-- Template Stylesheet -->
          <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
    <body class="prf-body">
    <div class="prf-div">
    <h3><strong>Change password</strong></h3>
    <br>
        <form id="forgotpasswordform" class="prf-form" method="post">
            {% csrf_token %}
        <p>
            <label for="id_password1">New Password:</label>
            <input type="password" class="form-control" name="password1" placeholder="New Password" autocomplete="new-password" required="" id="id_password1" aria-autocomplete="list">
        </p>
        <p>
            <label for="id_password2">New Password (again):</label>
            <input type="password" class="form-control" name="password2" placeholder="New Password (again)" required="" id="id_password2">
        </p>
        <br>
        <button class="btn" type="submit"> Save </button>
        </form>
    </div>
<br>

        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/slick/slick.min.js"></script>

        <!-- Template Javascript -->
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/forgot_password.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/alert.js' %}"></script>    </body>
</html>
