<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="utf-8">
        <title>E Store - eCommerce HTML Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="eCommerce HTML Template Free Download" name="keywords">
        <meta content="eCommerce HTML Template Free Download" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/slick/slick.css" rel="stylesheet">
        <link href="lib/slick/slick-theme.css" rel="stylesheet">

        <!-- Template Stylesheet -->
          <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
<style>
      body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color:#FF6F61
        }

     div {
     background-color:white;
     border:2px solid black;
     padding:100px;
     }

        form {
            margin-top: 20px;
        }
        .errorlist {
          list-style-type: none;
          color: red;
          position: relative;
          right: 31px;
        }

</style>
    <body>


       <div>
           <h3><strong>Signup Page</strong></h3>
           <br>
           <form method="post" id >
            {% csrf_token %}
               <p>
                <label for="id_email">Email:</label>
                <input type="email" name="email" placeholder="Email address" autocomplete="email" maxlength="320" id="id_email">
              </p>
               <p>
                <label for="id_username">Username:</label>
                <input type="text" name="username" placeholder="Username" autocomplete="username" minlength="1" maxlength="15" id="id_username">
              </p>
               <p>
                <label for="id_password1">Password:</label>
                <input type="password" name="password1" placeholder="Password" aria-describedby="id_password1_helptext" id="id_password1" aria-autocomplete="list">
                <span class="helptext" id="id_password1_helptext"></span>
               </p>
               <p>
                <label for="id_password2">Password (again):</label>
                <input type="password" name="password2" placeholder="Password (again)" id="id_password2">
              </p>
<!--            {{ form.as_p }}-->
            <button class="btn" type="submit">Sign Up</button><br><br>
           </form>
           <hr>
               Already have an account? <a href="{% url 'account_login' %}"> Login</a>
            </div>
        <br>

        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/slick/slick.min.js"></script>

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script>
    $(document).ready(function () {
        $("#signupform").validate({
            rules: {
                email: {
                    required: true,
                },
                name: {
                    required: true,
                },
                password1: {
                    required: true,
                },
                password2: {
                    required: true,
                }
            },
            messages: {
                email: {
                    required: "Please enter email",
                },
                name: {
                    required: "Please enter username",
                },
                password1: {
                    required: "Please enter password",
                },
                password2: {
                    required: "Please enter password again",
                },
            },
        });
    });
</script>
</html>
