<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="utf-8">
        <title>E Store - eCommerce HTML Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="eCommerce HTML Template Free Download" name="keywords">
        <meta content="eCommerce HTML Template Free Download" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/slick/slick.css" rel="stylesheet">
        <link href="lib/slick/slick-theme.css" rel="stylesheet">

        <!-- Template Stylesheet -->
          <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>

    <body class="signup-body">
       <div class="signup-div">
           <h3><strong>Signup Page</strong></h3>
           <br>
           <form  id="signupform" method="post">
            {% csrf_token %}
               <p>
                <input class="form-control" type="email" name="email" placeholder="Email address" autocomplete="email" maxlength="320" id="id_email">
              </p>
               <p>
                <input type="text"  class="form-control" name="username" placeholder="Username" autocomplete="username" minlength="1" maxlength="15" id="id_username">
              </p>
               <p>
                <input type="password" class="form-control" name="password1" placeholder="Password" autocomplete="new-password" aria-describedby="id_password1_helptext" id="id_password1" aria-autocomplete="list">
                <span class="helptext" id="id_password1_helptext"></span>
               </p>
               <p>
                <input type="password" class="form-control" name="password2" placeholder="Password (again)" autocomplete="new-password" id="id_password2">
              </p>
<!--            {{ form.as_p }}-->
            <button class="btn" type="submit">Sign Up</button><br><br>
           </form>
           <hr>
               Already have an account? <a href="{% url 'account_login' %}"> Login</a>
            </div>
        <br>

        <!-- Template Javascript -->
       <script src="js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script>
    $(document).ready(function () {
        $("#signupform").validate({
            rules: {
                email: {
                     required: true,
                     email: true
                },
                username: {
                    required: true,
                    minlength: 3,
                    maxlength: 10
                },
                password1: {
                     required: true,
                     pwcheck: true,
                     minlength: 8,
                },
                password2: {
                    required: true,
                     equalTo: "#id_password1"
                }
            },
            messages: {
                email: {
                  required: "Specify email address",
                  email: "invalid email format"
                },
                username: {
                    required: "Please enter username",
                },
                password1: {
                    required: "Specify password",
                    pwcheck: "The password does not match the criteria!",
                    minlength: "The password does not meet the criteria!"
                },
                password2: {
                    required: "Repeat password",
                    equalTo: "The passwords do not match"
                },
            },
        });
    });
</script>
    </body>
</html>
