<!DOCTYPE html>
{% extends 'base/admin_header.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
     <form id="addproduct" method="post" enctype="multipart/form-data">
           {% csrf_token %}
         <div class="container-fluid">
             <div class="row">
                        <div class="col-md-6">
                            {{ form.as_p }}
           <input class="btn" type="submit" value="Create">
                            <a style="margin-left:20px" class="btn" href= "{% url 'view-product' %}"> Cancel</a>
                        </div>
             </div>
             </div>
                    </form>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
     <script src="{% static 'js/add_product.js' %}"></script>

{% endblock %}
