<!DOCTYPE html>
{% extends 'base/admin_header.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/category.css' %}" rel="stylesheet">
<body>
<div class="container">
    <h1>Are you sure you want to delete?</h1>
    <div class="btn-container">
        <form method="POST">
            {% csrf_token %}
            <button class="btn btn-danger" onclick="window.location.href='{% url 'delete-category' category.pk %}'">Delete Category</button>
            <button class="btn btn-primary" onclick="window.location.href='{% url 'view-category' %}'">Cancel</button>
        </form>
    </div>
</div>
{% endblock %}
