<!DOCTYPE html>
{% extends 'base/admin_header.html' %}
{% load static %}
{% block content %}
<body class="view-category">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<div class="container mt-4">
    <div class="top">

        <button class="btn" onclick="window.location.href='{% url 'add-category' %}'">Add Category</button>

        <form method="get">
            {% csrf_token %}
        <input class="search" size="50" name="search" type="text"  placeholder="search category">
        <button class="btn" type="submit">search</button>
        </form>
    </div>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Parent</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
           {% for cat in page_obj.object_list %}
            <tr>
                <td>
                    {% if cat.image %}
                    <img style="height:100px; width:100px" class="recipe-image" src="{{ cat.image.url }}" alt="image">
                    {% else %}
                    No Image
                    {% endif %}
                </td>
                <td>{{ cat.name }}</td>
                <td>{{ cat.parent }}</td>
                <td>
                    <a class="btn" href="{% url 'update-category' cat.pk %}">Edit</a>
                    <button class="btn-danger"  onclick="if(confirm('Are you sure you want to delete this category?')) {window.location.href='{% url 'delete-category' cat.pk %}'}">Delete</button>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
       <center>
        {%if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}"><</a>
        {% endif %}
        <span>{{page_obj.number}}</span>

        {%if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">></a>
        {% endif %}
    </center>
</div>
{% endblock %}

