{% extends 'base/header.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/product_detail.css' %}" rel="stylesheet">

<div class="product-detail">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="product-detail-top">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <div class="product-slider-single normal-slider" >
                                {% if product.image %}
                                <img src="{{ product.image.url }}" alt="image" class="zoom">
                                {% else %}
                                No Image
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="product-content">
                                <div class="title"><h2>{{ brand_of_product.brand }}</h2></div>
                                <div class="title"><p>{{ product.name }}</p></div>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price">
                                    <h4>Price:</h4>
                                    <p>₹ {{ product.price }}</p>
                                </div>
                                <p><b>inclusive of all taxes</b></p>
                                <div class="action">
                                    <a class="btn" href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                                    <a class="btn" href="#"><i class="fa fa-shopping-bag"></i>Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Description -->
                <div class="row product-detail-bottom">
                    <div class="col-lg-12">
                        <ul class="nav nav-pills nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#description">Description</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="description" class="container tab-pane active">
                                {% with text=product.description %}
                                {% if text|wordcount > 56 %}
                                <p class="half-content" id="half-{{ product.pk }}">{{ text | linebreaks | truncatewords:50 }}<a data-id="{{ product.id }}" href="javascript:void();" class="show-hide-btn"><br>Read more</a></p>
                                <p class="full-content" id="full-{{product.pk }}" style="display: none;">{{ text }}<a data-id="{{ product.id }}" href="javascript:void();" class="show-hide-btn">Read less</a></p>
                                {% else %}
                                    <p>
                                    {{ text|safe|linebreaks }}
                                    </p>
                                {% endif %}
                                {% endwith %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Description End -->

            <!-- Side Bar Start -->
            <div class="col-lg-4 sidebar">
                {% include 'user_product/category_side_bar.html' %}
            </div>
            <!-- Side Bar End -->
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/quantity.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
  $(".show-hide-btn").click(function() {
    var id = $(this).data("id");
    $("#half-" + id).toggle();//hide/show..
    $("#full-" + id).toggle();
  })
})
</script>

{% endblock %}
