{% extends 'base/header.html' %}
{% load static %}
{% block content %}

<div class="featured-product product">
    <div class="container-fluid">
        <div class="section-header">
            <h3>Sub Category </h3>
        </div>
        <div class="row align-items-center product-slider product-slider-4">
            {% for subcategory in subcategorydata %}
            <div class="col-lg-3">
                <div class="product-item">
                    <div class="product-title">
                        <a href="#">{{subcategory.name}}</a>
                    </div>
                    <div class="product-image">
                        <a href="{% url 'products' subcategory.id %}">
                                 {% if subcategory.image %}
                    <img style="width:320px; height:350px;" src="{{ subcategory.image.url }}" alt="image">
                    {% else %}
                    No Image
                    {% endif %}
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
 </div>


{% endblock %}
