{% extends 'base/admin_header.html' %}

{% block content %}

{% load static %}

<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

<div class="container">
    <div class="row">
<!--        <div class="col-md-12">-->
<!--            <div class="row ml-5">-->
                <div class="col-lg-3 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="dashboard-card">{{ banner_count.count }}</div>
                            <p class="card-text">
                                Banner
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="dashboard-card">{{ categories_count.count }}</div>
                            <p class="card-text">
                                Categories
                            </p>
                        </div>
                    </div>
                </div>
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-12">-->
<!--            <div class="row ml-5">-->
                <div class="col-lg-3 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="dashboard-card">{{ brands_count.count }}</div>
                            <p class="card-text">
                                Brands
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="dashboard-card">{{ products_count.count }}</div>
                            <p class="card-text">
                                Products
                            </p>
                        </div>
                    </div>
                </div>
<!--            </div>-->
<!--        </div>-->
    </div>
</div>

{% endblock %}
