

{% extends 'base/header.html' %}

{% block content %}

<div class="my-account">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-9">
            <div class="tab-content">
                <div id="address-tab" role="tabpanel" >
                <h1>{{ user.username }}</h1><br><br>
                <div class="row">
                    <div class="col-md-9">
  <h2>Update Address</h2>
  <form method="post" enctype="multipart/form-data" action="{% url 'update' pk=address.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Update</button>
  </form>
           </div>
                </div>

                </div>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}


