{% extends 'base/header.html' %}


{% block content %}


<style>

        .errorlist {
          list-style-type: none;
          color: red;
          position: relative;
          right: 31px;

        }
</style>

<div class="my-account">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-9">
            <div class="tab-content">
                <div id="address-tab" role="tabpanel" >
                <h1>{{ user.username }}</h1><br><br>
                <div class="row">
                    <div class="col-md-9">


                         <h2>Update Profile</h2>

                      <form method="post" enctype="multipart/form-data" action="{% url 'updateprofile' user.pk %}">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <button class="btn btn-primary" type="submit">Update</button>
                      </form>

                    </div>
                </div>




                </div>
            </div>
        </div>
        </div>
    </div>
</div>


{% endblock %}


